NETWORK=fuji

FUJI_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
AUDIT_REGISTRY_ADDRESS=

DEPLOYER_PRIVATE_KEY=
AUDITOR_PRIVATE_KEY=

LLM_API_KEY=
LLM_MODEL=gpt-4o-mini

IPFS_PINNING_TOKEN=
IPFS_GATEWAY=https://ipfs.io/ipfs/

AVALANCHE_MCP_ENABLED=true

AUDIT_CONFIRMATIONS=2

API_PORT=3001
FRONTEND_PORT=3000
